<link rel="stylesheet" type="text/css" href="/css/home.css">
<link rel="stylesheet" type="text/css" href="/css/chat_box.css">
<body>
    <div id="flex-box-container">
    <div id="posts">
    <section id="feed-posts">
        <h1>Posts</h1>
        <% if(locals.user){ %>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
            <input type="submit" value="POST">
        </form>
        <%}%>
    </section>
    <div id="posts-list-container">
        <ul>
            <% for(post of posts) {%>
                <%- include('_posts'); %>
            <%}%>
        </ul>
    </div>
</div>
<div id="users">
    <section id="user-friends">
        <h4>Friends</h4>
        <% for(u of all_users){ %>
            <p>
                <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
            </p>
            <%}%>
    </section>
</div>
<%- include('_chat_box') -%>
</div>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"
  integrity="sha512-iWPnCISAd/J+ZacwV2mbNLCaPGRrRo5OS81lKTVPtRg1wGTC20Cfmp5Us5RcbLv42QLdbAWl0MI57yox5VecQg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/js/chat_engine.js"></script>
<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>')
</script>
<% } %>

</body>


