<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
    </head>
    <body>
    <%- include('_header');%>
    <div id="main">
        <%- body %>
    </div>
    <%- include('_footer');%>  
    <script> 
        <% if(flash.success && flash.success.length>0){ %>
            new Noty({
                theme:'relax',
                text:'<%=flash.success%>',
                type:'success',
                layout:'topRight',
                timeouut:150
            }).show();
            <% } else if(flash.error && flash.error.length>0){%>
            new Noty({
                theme:'relax',
                text:'<%=flash.error%>',
                type:'error',
                layout:'topRight',
                timeouut:150
            }).show();
            <%}%>
        </script>
        
</body>
</html>